.header{
    background-color: lightskyblue;
    font-size: 48px;
    text-align: center;
    font-family: "Oswald";
    font-weight: 700;
    align-self: stretch;
}

.content{
    display: flex;
    height:800px;
}

.main{
    text-align: center;
    font-family: "Oswald";
    font-size: 24px;
    padding-left: 100px;
    flex-grow: 0;
    width: 400px;
    display: flex;

}

ul{
    padding:10px;
    list-style: none;
    margin: 0;
    
}

.sidebar{
    background-color: black;
    width:200px;
}

li{
    font-family: "Oswald";
    font-size: 24px;
    width: 300px;
}

a{
    text-decoration: none;
    color: antiquewhite;
    width: 300px;
}


a:hover{
    background-color: white;
    color: black;
    font-size: 36px;
    width: 300px;
    padding: 10px;
    border: 1px solid black;
}

.prep{
    flex-basis: 900px;
    display: flex;
}

.ingredients, .steps{
    font-weight:200px;
    font-family: "Oswald";
    display: flex;
    flex-direction:column;
}

.title{
    font-size: 30px;
    padding:10px;
}
